.column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    .content__wrapper {
        max-width: var(--maxPrimaryPageWidth);
        width: 100%;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        flex-wrap: wrap;
    }
    .column__wrap {
        width: 100%;
    }
   
    .column__leader {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-position: inside;
        display: flex;
        flex-wrap: wrap;
    }

    .column__item {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .column__avatar {
        min-width: 56px;
        width: 56px;
        height: 56px;
        margin-right: 10px;
        .column__link {
            margin: 0;
            padding: 0;
            color: #000;
        }
        .column__round {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            // background-color: rgba(var(--accountTeal), 1);
            top: 0;
            left: 0;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            color: #fff;
        }
    }

    .column__data {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        .column__name {
            margin: 2px;
            font-size: 1em;
        }
    }
    .column__meter {
        margin-top: 6px;
        width: 100%;
        height: 8px;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .column__gauge {
        background: linear-gradient(to right, rgba(var(--tmdbLighterGreen), 1) 0%, rgba(var(--tmdbLightGreen), 1) 100%);
        height: 100%;
        min-width: 40px;
        border-radius: 4px;
    }
    .column__meter-week {
        margin-top: 6px;
        width: 100%;
        height: 8px;
        display: flex;
        align-items: center;
    }
    .column__gauge1 {
        background: linear-gradient(to right, rgba(var(--tmdbLogoOrange), 1) 0%, rgba(var(--tmdbLogoRed), 1) 100%);
        height: 100%;
        min-width: 40px;
        border-radius: 4px;
    }
    .column__number {
        margin: 0 0 2px 12px;
    }
}

.column__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: 40px;
    .column__header-text {
        margin-right: 20px;
        white-space: nowrap;
    }

    .column__dot-all {
        background: linear-gradient(to right, rgba(var(--tmdbLighterGreen), 1) 0%, rgba(var(--tmdbLightGreen), 1) 100%);
        border-radius: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        font-size: 0.9em;
    }
    .column__mt4 {
        margin-top: 4px;
    }
    
    .column__this-week {
        background: linear-gradient(to right, rgba(var(--tmdbLogoOrange), 1) 0%, rgba(var(--tmdbLogoRed), 1) 100%);
        border-radius: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        font-size: 0.9em;
    }
}

